body{
    display: flex;
     flex-direction: column;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
}
label{
    font-size: 16px;
}

input{
    padding:5px;
    margin-top :5px;
    margin-bottom:5px;
    border-radius: 10px;
    border:20x solid #ccc;
}
button{
    background-color:rgb(114, 71, 149);
    border:none;
    color:antiquewhite;
    padding:15px;
    width:150px;
    text-decoration: none;
    font-size: 15px;
    border-radius:10px;
    margin-bottom :10px;
    margin-top : 8px;
    cursor:pointer;
    margin-left: 80px;

}
.wrapper{
    width:350px;
    background : burlywood;
    color : white;
    border-radius: 5%;
}
p{
    margin-top:0px;
    margin-bottom:5px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:burlywood;
    padding: 10px 20px;
    color: white;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lobster";
    color: #0c0b0b;
}

.navbar-menu {
    display: flex;
    align-items: center;
    color: #0c0b0b;
}

.navbar-menu a {
    color: rgb(247, 244, 244);
    padding: 10px 87px;
    text-decoration: none;
    display: block;

}

.navbar-menu a:hover {
    background-color:rgb(253, 177, 115);
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#box3{
    padding-top: 50px;
}

.dropdown .dropbtn {
    background-color:burlywood;
    color:white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #e2c885;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:burlywood;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: burlywood(225, 230, 161);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu a, .dropdown .dropbtn {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }

    .dropdown-content a {
        text-align: center;
    }
}

.section-above {
    font-family: 'Poetsen One';
    font-size: 30px;
    color: #0c0b0b;
    text-shadow: 1px 1px 2px rgba(41, 35, 35, 0.5);
  
}

#logo {
margin: 2px;
text-align: center;
}

#logo-sub{
    color:#333;
    margin: 0px;
    text-align: center;
    padding: 0;
}
.navbar{
    justify-content: space-between
}
h2{
    font-family: "Zelda";
}